div {
  &.login-component {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;

    .form {
      height: inherit;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
    }
  }
}
