$background-color: hsl(210, 14%, 97%);

//^ main colors
$white: hsl(0, 0%, 100%);
$black: hsla(207, 13%, 13%, 1);

//^ button
$primary: hsl(260, 100%, 57%);
$primary-100: hsla(260, 100%, 57%, 0.1);
$primary-200: hsla(260, 100%, 57%, 0.2);
$primary-294: hsla(260, 100%, 57%, 0.294);
$primary-300: hsla(260, 100%, 57%, 0.3);
$primary-400: hsla(260, 100%, 57%, 0.4);
$primary-500: hsla(260, 100%, 57%, 0.5);
$primary-600: hsla(260, 100%, 57%, 0.6);
$primary-700: hsla(260, 100%, 57%, 0.7);
$primary-800: hsla(260, 100%, 57%, 0.8);
$primary-900: hsla(260, 100%, 57%, 0.9);

//^ gray
$gray: hsl(0, 0%, 57%);

//^ disable btn background color
$disable: hsl(0, 0%, 80%);
$disable-100: hsla(0, 0%, 80%, 0.1);
$disable-200: hsla(0, 0%, 80%, 0.2);
$disable-300: hsla(0, 0%, 80%, 0.3);
$disable-400: hsla(0, 0%, 80%, 0.4);
$disable-500: hsla(0, 0%, 80%, 0.5);
$disable-600: hsla(0, 0%, 80%, 0.6);
$disable-700: hsla(0, 0%, 80%, 0.7);
$disable-800: hsla(0, 0%, 80%, 0.8);
$disable-900: hsla(0, 0%, 80%, 0.9);

//^ red color
$red: #DD4A3D;
