@use "../../../global/colors" as *;

label {
  &.label{
    display: flex;
    color: $black;

    justify-content: left;
    align-items: flex-start;

    font-style: normal;
    font-variant: normal;
    font-size: 0.8125rem;
    line-height: 1.0625rem;

    span {
      color: $red;
    }
  }
}