@use "../../../global/colors" as *;

div {
  &.input-div {
    position: relative;
    height: 3.4375rem;
    label {
      position: absolute;
      left: 0.5625rem;
      top: -0.45rem;
      background: #f7f8f9 0% 0% no-repeat padding-box;
      min-width: 6rem;
      max-width: 6.3rem;
      height: 1.0625rem;

      display: flex;

      .label-div {
        display: grid;
        grid-auto-flow: column;
        max-width: 100px;
        p {
          left: 0;
          color: $primary;
          font: normal normal normal 13px/17px Rubik-regular;
        }
        span {
          color: $red;
        }
      }
    }
    .input {
      width: 100%;
      height: 2.25rem;
      border: 1px solid #cbcbcb;

      border-radius: 0.375rem;
      top: 0;
      left: 0;
      z-index: -1;
      outline: none;
      padding: 15.2px 12px 12.34px 17.22px;
      background-color: transparent;
      font-family: Rubik-regular;

      &::placeholder {
        color: $gray;
        font: normal normal normal 14px/17px Rubik-regular;
      }
    }
  }
}
